img{
    height: 280px;
}
#li1,#li2,#li3{
    background-color:#87cefa;
    color:rgb(13, 14, 14);
}
#scrl{
  background-color:#90ee90 ;
}
#bdy{
  background-color:#90ee90 ;
}
/* body{
    background-image: url('https://png.pngtree.com/background/20210716/original/pngtree-wrong-visual-illusion-picture-image_1355613.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }